INDEX OF ALL FOODS

{{!
    For each food listed, you must generate a link of the following type:
    <a href='/foods/3'>Triple Krabby Patty</a>
}}


{{!
    The two lines below are just there to help you see what's inside the variables when they are sent to the template
}}

{{{json categories}}}
{{{json foods}}}