<!DOCTYPE html>
<html>
  <head>
    <title>Online Galley Grub</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <a href='/'>Home</a>
      <a href='/foods'>Menu</a>
      <a href='/contact'>Contact</a>
    </div>

    {{{body}}}

  </body>
</html>
